.toolBar {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
  padding: 0 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .toolBarItem {
    color: #999;
    fill: currentColor;
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    &:not(.active):hover {
      color: rgb(102, 152, 255);
      background: rgba(102, 152, 255, 0.1);
    }
    &.active {
      color: rgb(102, 152, 255);
      background: rgba(102, 152, 255, 0.1);
    }
  }
}