.codeBlockContainer {
  position: relative;
  --code-block-bg-color: rgba(209, 210, 215, 0.11);
  &.dark {
    --code-block-bg-color: #0c1021;
  }
  &.readOnly {
    :global(.CodeMirror-cursors) {
      display: none;
    }
  }
  .copyButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    z-index: 2;
    height: 32px;
    cursor: pointer;
  }
  .windowsControl {
    position: absolute;
    top: 24px;
    left: 20px;
    z-index: 1;
    align-items: center;
    margin: 0 10px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #E0443E;
    box-shadow: 24px 0 #dea123, 48px 0 #1aab29;
  }
  .languageSelect {
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 1;
  }
  .CodeMirrorContainer :global(.CodeMirror) {
    background-color: var(--code-block-bg-color);
    height: auto;
    padding: 48px 12px 18px 12px;
    border-radius: 5px;
    line-height: 1.8;
    font-size: calc(var(--font-size) * 0.75);
    font-family: var(--mono-font, "'Monaco', '楷体'");
  }

  .CodeMirrorContainer :global(.CodeMirror pre.CodeMirror-line),
  .CodeMirrorContainer :global(.CodeMirror pre.CodeMirror-line-like) {
    padding: 0 12px;
  }

  :global(.CodeMirror-scroll, .CodeMirror-hscrollbar) {
    overflow: hidden;
  }

  :global(.CodeMirror-gutters) {
    background-color: unset;
    border-right: none;
  }

  :global(.CodeMirror-linenumber) {
    cursor: pointer;
  }
  @import '@/components/Editor/extensions/drag-common.less';
  @import '@/components/Editor/extensions/drop-common.less';
}