.highlightRect {
  &.pdf-highlight-red {
    --highlight-color: rgba(255, 0, 0, 0.3);
    --underline-color: rgba(255, 0, 0, 0.6);
  }
  &.pdf-highlight-blue {
    --highlight-color: rgba(0, 0, 255, 0.3);
    --underline-color: rgba(0, 0, 255, 0.6);
  }
  &.pdf-highlight-green {
    --highlight-color: rgba(0, 255, 0, 0.3);
    --underline-color: rgba(0, 255, 0, 0.6);
  }
  &.pdf-highlight-yellow {
    --highlight-color: rgba(255, 255, 0, 0.3);
    --underline-color: rgba(255, 255, 0, 0.7);
  }
  &.pdf-highlight-purple {
    --highlight-color: rgba(128, 0, 128, 0.3);
    --underline-color: rgba(128, 0, 128, 0.6);
  }
  &.pdf-highlight-pink {
    --highlight-color: rgba(255, 192, 203, 0.3);
    --underline-color: rgba(255, 192, 203, 0.6);
  }
  &.pdf-highlight-orange {
    --highlight-color: rgba(255, 165, 0, 0.3);
    --underline-color: rgba(255, 165, 0, 0.6);
  }
  &.highlight {
    background-color: var(--highlight-color);
  }
  &.underline {
    /*border-bottom: 2px solid var(--underline-color);*/
    white-space: nowrap;
    letter-spacing: 100vw;
    overflow: hidden;
    padding-bottom: 3px;
    &::after {
      content: '\2000\2000';
      text-decoration: underline var(--underline-color);
      text-underline-offset: -1px;
    }
  }
  &.wave {
    white-space: nowrap;
    letter-spacing: 100vw;
    overflow: hidden;
    padding-bottom: 4px;
    &::after {
      content: '\2000\2000';
      text-decoration: underline wavy var(--underline-color);
      text-underline-offset: -1px;
    }
  }
  &.area {
    background-color: var(--highlight-color);
    border: 2px solid var(--underline-color);
  }
}
