.colorSelectContainer {
  background-color: var(--primary-bg-color);
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  box-shadow: var(--box-shadow1);
  border-radius: 0.5em;

  .item {
    width: 2em;
    height: 2em;
    border-radius: 0.25em;
    cursor: pointer;
    line-height: 2em;
    text-align: center;

    &:hover {
      background-color: var(--common-hover-bg);
    }
  }
}
