.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  --sidebar-width: 200px;
  --title-bar-height: 50px;
  --right-sidebar-width: 0px;
  .sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    background: var(--sidebar-background);
    overflow: hidden;
  }
  .content {
    width: calc(100vw - var(--sidebar-width));
    height: 100vh;
    transition: width 0.3s;
    .titlebar {
      width: 100%;
      height: var(--title-bar-height);
      box-sizing: border-box;
      -webkit-app-region: drag;
    }
    .main {
      display: flex;
      width: 100%;
      height: calc(100vh - var(--title-bar-height));
      box-sizing: border-box;
      overflow: hidden;
      .mainContent {
        width: calc(100% - var(--right-sidebar-width) - 24px);
        height: calc(100% - 24px);
        overflow: hidden;
        background: var(--main-bg-color);
        margin: 8px;
        border-radius: 8px;
        box-shadow: var(--shadow);
        box-sizing: border-box;
      }
    }
  }
}
