.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  --sidebar-width: 200px;
  --title-bar-height: 44px;
  --right-sidebar-width: 0px;
  .sidebar {
    width: var(--sidebar-width);
    height: 100%;
    background: var(--sidebar-background);
    overflow: hidden;
    transition: width 0.3s;
  }
  .content {
    width: calc(100vw - var(--sidebar-width) - var(--right-sidebar-width));
    height: 100%;
    transition: width 0.3s;
    background: var(--main-bg-color);
    .main {
      display: flex;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      overflow: hidden;
    }
  }
  .rightSidebar {
    width: var(--right-sidebar-width);
    height: 100%;
    background: var(--sidebar-background);
    overflow: hidden;
    box-sizing: border-box;
  }
}
