.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  --sidebar-width: 80px;
  --title-bar-height: 60px;
  --right-sidebar-width: 0px;
  .sidebar {
    width: var(--sidebar-width);
    height: 100vh;
  }
  .content {
    width: calc(100vw - var(--sidebar-width));
    height: 100vh;
    transition: width 0.3s;
    .titlebar {
      width: 100%;
      height: var(--title-bar-height);
      box-sizing: border-box;
      border-bottom: 1px solid var(--line-color);
    }
    .main {
      display: flex;
      width: 100%;
      height: calc(100vh - var(--title-bar-height));
      box-sizing: border-box;
      overflow: hidden;
      .mainContent {
        width: calc(100% - var(--right-sidebar-width));
        height: 100%;
        overflow: hidden;
      }
    }
  }
}
