.itemContainer {
  padding: 20px;
  border: 1px solid var(--line-color);
  border-radius: 8px;
  content-visibility: auto;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  .time {
    margin-bottom: 20px;
    display: flex;
    font-size: 0.75em;
    gap: 10px;
    color: gray;
    margin-bottom: 20px;
  }

  .content {
    max-height: 300px;
    overflow: hidden;
  }

  .actions {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

  .action {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  .action:hover {
    background-color: var(--common-hover-bg);
  }

  .tags {
    margin-top: 20px;
  }
}
