.item {
  &.dragging {
    opacity: 0.5;
  }
  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid transparent;
    &.active {
      background-color: var(--sidebar-active-bg);
      //color: var(--active-text-color);
    }
    &.top {
      &::before {
        content: "";
        position: absolute;
        top: -2px;
        left: 2px;
        width: 100%;
        height: 2px;
        background-color: var(--active-text-color);
      }
      &::after {
        content: "";
        position: absolute;
        top: -5px;
        left: 0;
        border: 4px solid transparent;
        border-left-color: var(--active-text-color);
      }
    }
    &.bottom {
      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 2px;
        width: 100%;
        height: 2px;
        background-color: var(--active-text-color);
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        border: 4px solid transparent;
        border-left-color: var(--active-text-color);
      }
    }
    &.inside {
      border: 1px dashed var(--active-text-color);
      background-color: var(--active-bg-color);
    }
    &:hover:not(.active) {
      background-color: var(--common-hover-bg);
    }
    .titleContainer {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 30px;
      overflow: hidden;
      .icon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
        border-radius: 50%;
        &.hoverable:hover {
          background-color: var(--common-hover-bg);
        }
      }
      .title {
        line-height: 32px;
        align-self: flex-start;
      }
    }
    .icons {
      display: flex;
      align-items: center;
      flex: none;
      .icon {
        cursor: pointer;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        &:hover {
          background-color: var(--common-hover-bg);
        }
      }
    }
  }
  .gridContainer {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.3s ease;
    overflow: hidden;
    margin: 8px 0;
    &.hide {
      grid-template-rows: 0fr;
      margin: 0;
    }
    .children {
      min-height: 0;
      padding-left: 16px;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
}

.settings {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100px;
  .item {
    border-radius: 8px;
    text-align: center;
    padding: 8px 12px;
    &:hover {
      background-color: var(--common-hover-bg);
      cursor: pointer;
    }
  }
}
