.selectTime {
  height: var(--title-bar-height);
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  .select {
    flex: none;
    width: 80px;
  }
  .picker {

  }
  :global(input) {
    font-family: var(--font-family);
  }
}