.queryContainer {
  width: 100%;
  height: 100%;
  container: cardListContainer / inline-size;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  --card-tree-width: 240px;
  --card-grid-width: calc(100% - var(--card-tree-width));
  --list-width: calc(var(--card-grid-width) + var(--card-tree-width));

  &.showEdit {
    --card-grid-width: 0px;
  }

  .list {
    width: var(--list-width);
    overflow: hidden;

    .cards {
      display: flex;
      height: 100%;
    }
  }

  .edit {
    width: calc(100% - var(--list-width));
    height: 100%;
    flex: none;
    display: flex;
    gap: 20px;
  }
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .categoryItem {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 8px;

    &:hover:not(.disable) {
      background-color: var(--common-hover-bg);
    }

    &.disable {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

@container cardListContainer (max-width: 1080px) {
  .container {
    &.showEdit {
      --list-width: 0px;
    }
  }
}
