.noteContainer {
  width: 400px;
}

.editor {
  min-height: 150px;
}

.editor > [class*="container"]:last-child > p {
  margin-bottom: 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}