.iconText {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48px;
  font-size: 24px;
  .icon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: currentColor;
    fill: currentColor;
  }
  &.active {
    color: var(--active-text-color);
    fill: var(--active-text-color);
  }
  &:not(.active):hover {
    color: var(--active-text-color);
    fill: var(--active-text-color);
    cursor: pointer;
  }
  .text {
    font-size: 12px;
    user-select: none;
  }
}