.iconText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  &.active {
    color: var(--doc-fill-text-color);
  }
  &:hover {
    color: var(--doc-fill-text-color);
    cursor: pointer;
  }
  .text {
    font-size: 12px;
  }
}