.dropContainer {
  position: relative;
  .container {
    --code-block-bg-color: rgba(246, 248, 250, .6);
    --code-block-shadow: 0 1px 2px 0 #0000001a;
    &.dark {
      --code-block-bg-color: rgba(40, 42, 52);
      --code-block-shadow:  0 1px 2px 0 #0000001a;
    }
    position: relative;

    .editor {
      height: auto;
      padding: 18px 12px 0;
      :global(.CodeMirror) {
        height: auto !important;
        padding: 18px 12px 18px 12px;
        border-radius: 0;
        font-size: calc(var(--font-size) * 0.75);;
        font-family: var(--mono-font, "'Monaco', '楷体'");
        box-shadow: var(--code-block-shadow);
        background-color: var(--code-block-bg-color);
      }

      :global(.CodeMirror pre.CodeMirror-line),
      :global(.CodeMirror pre.CodeMirror-line-like) {
        padding: 0 12px;
      }

      :global(.CodeMirror-scroll, .CodeMirror-hscrollbar) {
        overflow: hidden;
      }

      :global(.CodeMirror-gutters) {
        background-color: unset;
        border-right: none;
      }

      :global(.CodeMirror-linenumber) {
        cursor: pointer;
      }
    }

    .divider {
      margin: 0 20px 20px;
      background-color: #e8e8e8;
      height: 2px;
    }

    &.editing {
      background-color: var(--code-block-bg-color);
      padding: 0 0 16px;
    }

    .preview {
      min-height: 40px;
      box-sizing: border-box;
      &.extend {
        padding: 5px 0;
      }
      &.center {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .actions {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: rgba(38, 38, 38, 0.6);
      border-radius: 8px;
      color: white;

      .item {
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .divider {
        width: 1px;
        height: 18px;
        margin: 8px 4px;
        background-color: var(--line-color);
      }
    }

    &:hover .actions {
      display: flex;
    }
    @import '@/components/Editor/extensions/drop-common.less';
  }
  @import '@/components/Editor/extensions/drag-common.less';
}
