.container {
  position: relative;
  .editor {
    height: auto;
    padding: 18px 12px 0;
    :global(.CodeMirror) {
      height: auto !important;
      padding: 18px 12px 18px 12px;
      border-radius: 0;
      font-size: 14px;
      font-family: var(--mono-font, "'Monaco', '楷体'");
    }

    :global(.CodeMirror pre.CodeMirror-line),
    :global(.CodeMirror pre.CodeMirror-line-like) {
      padding: 0 12px;
    }

    :global(.CodeMirror-scroll, .CodeMirror-hscrollbar) {
      overflow: hidden;
    }

    :global(.CodeMirror-gutters) {
      background-color: unset;
      border-right: none;
    }

    :global(.CodeMirror-linenumber) {
      cursor: pointer;
    }
  }

  .divider {
    margin: 0 20px 20px;
    background-color: #e8e8e8;
    height: 2px;
  }
  &.editing {
    background-color: rgb(12, 16, 33);
    padding: 0 0 16px;
  }

  .preview.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .actions {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(38, 38, 38, 0.6);
    border-radius: 8px;
    color: white;

    .item {
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .divider {
      width: 1px;
      height: 18px;
      margin: auto 4px;
      background-color: white;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &:hover .actions {
    display: flex;
  }
}