.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  align-content: flex-start;
  width: 100%;
}

.empty {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
