.titleBar {
  box-sizing: border-box;
  height: 56px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  .nav {
    display: flex;
    align-items: center;
    gap: 10px;
    .item {
      cursor: pointer;
      &.active {
        color: #1a66ff;
      }
    }
  }
  .windowControl {
    margin-left: auto;
  }
}

.dropCard {
  display: flex;
  flex-direction: column;
  .childItem {
    padding: 8px 16px;
    cursor: pointer;
    &:hover {
      background-color: rgba(47, 49, 52);
      border-radius: 4px;
      cursor: pointer;
    }
  }
}