@import "@/components/Editor/extensions/hovering-item-common.less";

.textContainer {
  composes: item;
  width: 3.5em;

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.375em;
  }
}
