.container {
  .header {
    display: flex;
    height: 40px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    cursor: pointer;
    &.select {
      background: var(--doc-fill-active);
      color: var(--doc-fill-text-color);
    }
    &:not(.select):hover {
      background: var(--common-hover-bg);
    }
    .icon {
      flex: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      &:hover {
        background: var(--common-hover-bg);
      }
    }
    .foldIcon {
      margin-left: 10px;
      transition: transform 0.3s ease-in-out;
      transform: rotate(90deg);
      &.fold {
        transform: rotate(0deg);
      }
    }
    .tag {
      flex: auto;
      display: flex;
      align-items: center;
      line-height: 40px;
    }
    .count {
      flex: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  .gridContainer {
    display: grid;
    grid-template-rows: 1fr;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    margin: 8px 0;
    &.fold {
      grid-template-rows: 0fr;
      margin: 0;
    }
    .children {
      min-height: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-left: 32px;
    }
  }
}