@import "../common.less";

.selectContainer {
  display: grid;
  width: fit-content;
  box-sizing: border-box;
  gap: 12px;
  grid-template-columns: repeat(5, 30px);
  grid-template-rows: auto;
  .item {
    padding: 4px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 4px;
    &.active {
      color: rgb(102, 152, 255);
      background: rgba(102, 152, 255, 0.1);
    }
    &:not(.active):hover {
      color: rgb(102, 152, 255);
      background: rgba(102, 152, 255, 0.1);
    }
  }
}

.colorSelect {
  display: grid;
  width: fit-content;
  box-sizing: border-box;
  gap: 12px;
  grid-template-columns: repeat(5, 64px);
  grid-template-rows: auto;
  .item {
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
  }
}

.alignSelect {
  display: grid;
  width: fit-content;
  box-sizing: border-box;
  gap: 12px;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: auto;
  .item {
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      color: rgb(102, 152, 255);
      background-color: rgb(230, 242, 255);
    }
    &:not(.active):hover {
      color: rgb(102, 152, 255);
      background: rgba(102, 152, 255, 0.1);
    }
  }
}