.modal {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .content {
    display: flex;
    gap: 10px;
  }
  .cost {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .eventType {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}