.cardLinkContainer {
  border-bottom: 3px double var(--card-line-color);
  cursor: pointer;
  color: var(--active-text-color);
  //background: linear-gradient(var(--card-line-color), var(--card-line-color)) no-repeat center bottom / 100% 2px;
  .icon {
    color: var(--active-text-color);
    vertical-align: -12.5%;
  }
}