.container {
  position: relative;
  margin: 0.5em 0;

  @import "@/components/Editor/extensions/drop-common.less";
  @import "@/components/Editor/extensions/drag-common.less";
}

.screenshot {
  user-select: none;
}

.image {
  max-width: 100%;
  cursor: pointer;
}

.caption {
  text-align: center;
  font-size: 0.9em;
  margin-top: 0.25em;
}
