.tabHeaderContainer {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--line-color);

  .addTabBtn {
    flex: none;
    height: 2.5em;
    padding: 0 0.75em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
