.tabHeaderContainer {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--line-color);
  .tabHeaderItem {
    flex: none;
    position: relative;
    display: flex;
    padding: 0 8px;
    justify-content: center;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
    .content {
      display: flex;
      align-items: center;
      gap: 8px;
      .deleteIcon {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
    .bottomLine {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--bottom-line-bg);
    }
  }
  .addTabBtn {
    flex: none;
    height: 40px;
    padding: 0 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}