.tabHeaderContainer {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--line-color);

  .addTabBtn {
    flex: none;
    height: 40px;
    padding: 0 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}