.cardContainer {
  width: var(--card-grid-width);
  height: 100%;
  box-sizing: border-box;
  position: relative;

  .cardList {
    padding: 20px 40px;
    height: 100%;
    max-width: 720px;
    margin: 0 auto;
  }

  .createCard {
    margin-top: 20px;
  }
}

.floatButton {
  position: absolute;
}
