.rightSidebar {
  box-sizing: border-box;
  flex: none;
  height: 100%;

  .wrapContainer {
    height: 100%;
    background: var(--primary-bg-color);
    box-sizing: border-box;

    .innerContainer {
      box-sizing: border-box;
      padding: 16px;
      height: 100%;

      &.dark {
        background: #29292f;
      }

      display: flex;
      flex-direction: column;

      .header {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-content: center;

        .title {
          font-weight: bold;
        }

        .operations {
          display: flex;
          align-items: center;
          gap: 12px;
          flex-wrap: wrap;
        }
      }
    }
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
