.list {
  display: flex;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  flex-direction: column;
  background-color: var(--block-panel-bg);
  //box-shadow: var(--box-shadow1);
  border-radius: 6px;
  // 隐藏滚动条
  &::-webkit-scrollbar {
    display: none;
  }
}
