.editor {
  color: var(--text-normal);
  --selection-color: #d9f0ff;
  --text-normal: black;

  &.dark {
    --selection-color: #182f3f;
    --text-normal: rgba(255, 255, 255, 0.9);
  }

  ::selection {
    background: var(--selection-color);
  }
}
