.statusBar {
  display: flex;
  height: 20px;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  opacity: 0.8;
  .item {
    min-width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .icon {
      font-size: 14px;
      width: 14px;
      height: 14px;
    }
  }
}
