.editorContainer {
  height: 100%;
  overflow-y: auto;
  .cover {
    height: 400px;
    width: 100%;
    background: url("https://cdn.jsdelivr.net/gh/LastKnightCoder/ImgHosting2/20210402153806.png") no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: #fff;
    .title {
      font-size: 48px;
      font-weight: bold;
      margin: 0;
    }
    .metaInfo {
      display: flex;
      gap: 8px;
      align-items: center;
      .meta {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
      }
    }
  }
  .contentContainer {
    max-width: 800px;
    margin: 40px auto;
  }
}

.loading, .empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}