.editorContainer {
  height: 100%;
  overflow-y: auto;
  .cover {
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: #fff;
    .title {
      font-size: 48px;
      font-weight: bold;
      margin: 0;
      padding-left: 4px;
    }
    .metaInfo {
      display: flex;
      gap: 8px;
      align-items: center;
      .meta {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
      }
    }
  }
  .contentContainer {
    display: flex;
    padding: 40px;
    .leftPart {
      flex: auto;
      margin-right: 80px;
      overflow-x: hidden;
      .article {
        max-width: 700px;
        margin: 0 auto;
        .tags {
          margin-top: 20px;
        }
        .linkArticles {
          margin-top: 20px;
        }
      }
    }
    .rightPart {
      flex: none;
      width: 280px;
      margin-left: auto;
      margin-right: 80px;
      overflow: hidden;
      max-height: calc(100vh - 80px);
      overflow-y: auto;
      position: sticky;
      top: 40px;
      &::-webkit-scrollbar {
        display: none;
      }
      .outline {
        width: 280px;
      }
    }
  }
}

.loading, .empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}