.list {
  display: flex;
  gap: 20px;
  padding: 40px;
  .item {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}