.singleProjectItemEditorContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  overflow: hidden;
  container: project-item-container / inline-size;
}

.time {
  margin-bottom: 16px;
  display: flex;
  gap: 10px;
  opacity: 0.8;
  font-size: 0.9em;
  flex-shrink: 0;
}

.title {
  margin: 24px 0;
  flex-shrink: 0;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.editorContainer {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  padding: 0 40px;
  border: 20px solid transparent;
  border-left: none;
  border-right: none;
}

.editor {
  flex: 1;
  padding: 40px;
  max-width: 720px;
  margin: 0 auto;
}

.outlineContainer {
  width: fit-content;
  flex-shrink: 0;
  overflow-y: auto;
  max-height: 100vh;
  position: sticky;
  top: 0;

  .outline {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
}

@container project-item-container (max-width: 1280px) {
  .outlineContainer {
    display: none;
  }
}
