.editArticleContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  .cover {
    width: 100%;
    aspect-ratio: 8 / 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      left: 0;
      top: 0;
    }
    .title {
      text-align: center;
      width: 80%;
      position: relative;
      font-size: 48px;
      font-weight: bold;
      margin: 0;
      padding-left: 4px;
    }
    .metaInfo {
      position: relative;
      display: flex;
      gap: 8px;
      align-items: center;
      .meta {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
      }
    }
  }
  .content {
    width: 100%;
    display: flex;
    padding: 0 40px;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    box-sizing: border-box;
    gap: 40px;
    .editor {
      margin: 0 auto;
      max-width: 720px;
      flex: auto;
    }
    .outline {
      display: flex;
      justify-content: flex-end;
      min-width: 120px;
      max-width: 280px;
      width: fit-content;
      flex: none;
      margin-left: auto;
      overflow: hidden;
      max-height: calc(100vh - 80px - var(--title-bar-height));
      overflow-y: auto;
      position: sticky;
      top: 40px;
      bottom: 40px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.empty {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}