.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  height: 24px;
  overflow: hidden;
  :global(.ant-tag) {
    display: flex;
    height: 22px;
    align-items: center;
    font-family: 'Ubuntu', '楷体', '楷体-简', sans-serif;
    font-size: 12px;
  }
}