.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  height: 24px;
  overflow: hidden;
  &.noWrap {
    height: auto;
    overflow: visible;
  }
  :global(.ant-tag) {
    display: flex;
    height: 22px;
    align-items: center;
    font-family: 'Ubuntu', '楷体', '楷体-简', sans-serif;
    font-size: 12px;
  }
}