.item {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  .content {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &:hover {
    background: var(--block-panel-active-bg);
  }
  .bottomLine {
    height: 1px;
    background: var(--line-color);
  }
  &.active {
    background: var(--block-panel-active-bg);
  }
}
