.underline {
  border-bottom: 2px solid var(--underline-color);
  --underline-color: rgb(255, 212, 0);
  &.red {
    --underline-color: rgb(239, 35, 60);
  }
  &.yellow {
    --underline-color: rgb(255, 212, 0);
  }
  &.blue {
    --underline-color: rgb(162, 210, 255);
  }
  &.green {
    --underline-color: rgb(42, 157, 143);
  }
  &.purple {
    --underline-color: rgb(94, 84, 142);
  }
}