.viewContainer {
  width: 100%;
  height: 100%;
  display: flex;
  --article-list-width: 100%;

  &.showEdit {
    --article-list-width: 300px;
    &.hideArticleList {
      --article-list-width: 0px;
      padding: 0;
      .simpleListContainer {
        padding: 0;
      }
    }
  }

  .listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    box-sizing: border-box;
    padding: 40px 40px 0;
    height: calc(100% - 40px);
    width: var(--article-list-width);
    transition: width 0.3s;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .simpleListContainer {
    height: 100%;
    width: var(--article-list-width);
    overflow: hidden;
  }
  .editContainer {
    width: calc(100% - var(--article-list-width));
    height: 100%;
    transition: width 0.3s;
  }
  .pagination {
    position: absolute;
    bottom: 20px;
    //left: 50%;
    //transform: translateX(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: center;
  }
}
