.buttonContainer {
  user-select: none;
  width: 32px;
  line-height: 32px;
  text-align: center;
  font-family: Merriweather, serif;
  font-style: italic;
  &:not(:last-child) {
    margin-right: 8px;
  }
  color: var(--text-normal);
  cursor: pointer;
  border-radius: 8px;
  &:hover {
    background-color: var(--common-hover-bg);
  }
  &.active {
    background-color: rgb(203 213 224 / .4);
  }
}