.buttonContainer {
  user-select: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Merriweather, serif;
  font-size: 16px;
  &:not(:last-child) {
    margin-right: 8px;
  }
  color: var(--text-normal);
  cursor: pointer;
  border-radius: 8px;
  &:hover {
    background-color: var(--common-hover-bg);
  }
  &.active {
    background-color: rgb(203 213 224 / .4);
  }
}