.pdf-highlight-red {
  background-color: rgba(255, 0, 0, 0.3);
}
.pdf-highlight-blue {
  background-color: rgba(0, 0, 255, 0.3);
}
.pdf-highlight-green {
  background-color: rgba(0, 255, 0, 0.3);
}
.pdf-highlight-yellow {
  background-color: rgba(255, 255, 0, 0.3);
}
.pdf-highlight-purple {
  background-color: rgba(128, 0, 128, 0.3);
}
.pdf-highlight-pink {
  background-color: rgba(255, 192, 203, 0.3);
}
.pdf-highlight-orange {
  background-color: rgba(255, 165, 0, 0.3);
}
.pdf-highlight-brown {
  background-color: rgba(165, 42, 42, 0.3);
}
.pdf-highlight-gray {
  background-color: rgba(128, 128, 128, 0.3);
}
