.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.code {
  color: #18045f;
  background-color: rgba(250, 255, 100, 0.153);
  padding: 4px 6px;
  font-size: .9em;
}