.bold {
  font-weight: bold;
  //background-image: linear-gradient(to right, #c471f5 0%, #fa71cd 100%);
  //color: transparent;
  //-webkit-background-clip: text;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.code {
  color: #18045f;
}