.container {
  position: relative;
  &.hideDecoration {
    .h1 {
      border-bottom: none;
    }
    .h2::before,
    .h3::before,
    .h4::before {
      display: none;
    }

    .dragHandler {
      top: 0;
    }
  }

  .headerContent {
    display: flex;
    align-items: center;
    position: relative;
  }

  .arrow {
    position: absolute;
    left: -1.5em;
    top: 0;
    cursor: pointer;
    transition:
      transform 0.2s ease,
      opacity 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    user-select: none;
    border-radius: 50%;
    transform-origin: center;
    opacity: 0;
    transform: scale(0.9);

    &:hover {
      opacity: 1;
    }

    &.show {
      transform: scale(0.9) rotate(90deg);
    }

    &.hide {
      transform: scale(0.9) rotate(0deg);
    }
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    position: relative;
    line-height: 1.5;
    font-weight: bold;
    margin-top: 0.75em;
    margin-bottom: 1em;
    width: fit-content;
    display: flex;
    align-items: center;
    // 没有内容时宽度为 0，看不到光标
    padding-left: 0.1px;

    &:hover .arrow {
      opacity: 1;
    }
  }

  .h1 {
    font-size: 2em;
    line-height: 1.3;
    border-bottom: solid 3px rgba(128, 30, 255, 1);
  }

  .h2 {
    font-size: 1.75em;
    border-radius: 14px;
  }

  .h2::before {
    content: "H2";
    border-radius: 0.3em;
    font-size: 0.8em;
    padding: 0.25em 0.375em;
    margin-right: 0.5em;
    background-color: rgba(128, 30, 255, 1);
    color: white;
  }

  .h3 {
    font-size: 1.5em;
    border-radius: 10px;
  }

  .h3::before {
    content: "H3";
    color: white;
    font-size: 0.8em;
    background-color: rgba(128, 30, 255, 1);
    border-radius: 0.3em;
    margin-right: 12px;
    padding: 4px 7px;
  }

  .h4 {
    font-size: 1.25em;
    border-radius: 0.3em;
  }

  .h4::before {
    content: "H4";
    color: white;
    font-size: 0.8em;
    background-color: rgba(128, 30, 255, 1);
    border-radius: 0.3em;
    margin-right: 12px;
    padding: 4px 7px;
  }

  .h5 {
    font-size: 1.125em;
  }

  .h6 {
    font-size: 1em;
  }

  @import "@/components/Editor/extensions/drop-common.less";

  &.drop {
    &.before {
      &::before {
        top: -0.25em;
      }
    }

    &.after {
      &::after {
        bottom: -0.125em;
      }
    }
  }

  @import "@/components/Editor/extensions/drag-common.less";

  .h1 + .dragHandler,
  .h2 + .dragHandler,
  .h3 + .dragHandler,
  .h4 + .dragHandler,
  .h5 + .dragHandler,
  .h6 + .dragHandler {
    top: 0.375em;
  }

  &.collapsed {
    margin-bottom: 0.5em;
    position: relative;

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      margin-bottom: 0;
    }
  }
}
