@import "@/components/Editor/extensions/hovering-item-common.less";

.textContainer {
  width: 3.5em;

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.375em;
  }

  .icon {
    fill: currentColor;
    width: 1em;
    height: 1em;
  }
}
