@import "@/components/Editor/extensions/hovering-item-common.less";

.textContainer {
  composes: item;
  width: 56px;
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
}
