.gridContainer {
  column-gap: 0.625em;
  row-gap: 0.625em;

  .gridItem {
    width: 100%;
    height: auto;
    cursor: pointer;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
