.gridContainer {
  column-gap: 10px;
  row-gap: 10px;
  .gridItem {
    width: 100%;
    height: auto;
    cursor: pointer;
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
