.tabs {
  height: 100%;

  :global {
    .ant-tabs-content-holder {
      overflow: auto;
      max-height: calc(100vh - 250px);
    }

    .ant-tabs-tabpane {
      padding-right: 8px;
      padding-bottom: 16px;
    }

    .ant-tabs-nav {
      min-width: 120px;
      flex-shrink: 0;
    }

    .ant-tabs-tab {
      padding: 8px 16px !important;
    }

    .ant-tabs-content {
      height: 100%;
    }
  }
}
