.editCardContainer {
  position: relative;
  margin: 0 auto;
  max-width: 720px;
  .time {
    margin-bottom: 24px;
    display: flex;
    gap: 10px;
    opacity: .8;
    font-size: .9em;
  }
  .editor {
    width: 100%;
  }
  .addTag {
    margin-top: 16px;
  }
}

@container cardsManagement (max-width: 1080px) {
  .editCardContainer {
    max-width: calc(44.44444% + 240px);
  }
}

@container cardsManagement (max-width: 540px) {
  .editCardContainer {
    max-width: calc(100% - 60px);
  }
}

@container cardsManagement (max-width: 420px) {
  .time {
    flex-direction: column !important;
  }
}