.sidebar {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
  .header {
    padding: 0 16px;
    box-sizing: border-box;
    width: 100%;
    height: var(--title-bar-height);
    display: flex;
    align-items: center;
    gap: 10px;
    .icons {
      margin-left: auto;
      display: flex;
      gap: 8px;
      .theme {
        width: 28px;
        height: 28px;
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.04);
        cursor: pointer;
        border-radius: 10px;
      }
      .setting {
        font-size: 1.2em;
        width: 28px;
        height: 28px;
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 10px;
      }
    }
  }
  .list {
    height: calc(100% - var(--title-bar-height));
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    .item {
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        height: 40px;
        box-sizing: border-box;
        border-radius: 8px;
        &.active {
          background-color: var(--active-bg-color);
          color: var(--active-text-color);
          .arrow {
            &:hover {
              background-color: var(--active-icon-bg);
            }
          }
        }
        &:not(.active):hover {
          background-color: var(--common-hover-bg);
        }
        .title {
          user-select: none;
          display: flex;
          align-items: center;
          gap: 4px;
          height: 40px;
          cursor: pointer;
          .count {
            font-size: .8em;
          }
        }
        .arrow {
          display: flex;
          height: 28px;
          width: 28px;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &:hover {
            background-color: var(--normal-icon-bg);
          }
          &.open {
            transform: rotate(90deg);
          }
        }
      }
      .children {
        padding-left: 12px;
        margin-top: 8px;
        max-height: 240px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 4px;
        &::-webkit-scrollbar {
          display: none;
        }
        .documentItem {
          height: 40px;
          padding: 4px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          border-radius: 8px;
          gap: 4px;
          cursor: pointer;
          .icon {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .title {
            line-height: 32px;
          }
          .count {
            font-size: .8em;
          }
          &.active {
            background-color: var(--active-bg-color);
            color: var(--active-text-color);
          }
          &:not(.active):hover {
            background-color: var(--common-hover-bg);
          }
        }
      }
    }
  }
}