.hoveringToolbar {
  opacity: 0;
  position: fixed;
  z-index: 1001;
  top: -1000px;
  left: -500px;
  transition:
    opacity 0.3s ease-in-out,
    top 0.3s ease-in-out,
    left 0.3s ease-in-out;
  padding: 4px;
  background-color: var(--primary-bg-color);
  box-shadow: var(--box-shadow1);
  border-radius: 8px;
  display: flex;
  pointer-events: none;
  &.show {
    opacity: 1;
    pointer-events: unset;
  }
}
