.widthResizable {
  position: relative;
  .resizeBar {
    cursor: col-resize;
    height: 100%;
    width: 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: transparent;
  }
}