.container {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows .3s ease;
  overflow: hidden;
  &.hide {
    grid-template-rows: 0fr;
  }
  .children {
    min-height: 0;
  }
}