.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.titlebar {
  width: 100%;
  height: 60px;
  flex-shrink: 0;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  gap: 1em; /* 统一 em 间距 */
  padding: 0 1.5em 1.5em; /* 统一 em 间距 */
  box-sizing: border-box;
  overflow: hidden;
}

.sidebar {
  flex: none;
  width: 26em; /* 统一 em 宽度 */
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow: hidden;
}

.right {
  flex: 1;
  height: 100%;
  overflow: hidden;
}
