.boardContainer {
  position: relative;
  height: 100%;
}

.verticalBar {
  position: absolute;
  left: 1.25em;
  top: 50%;
  transform: translateY(-50%);
}

.attributeBar {
  position: fixed;
  top: var(--title-bar-height, 60px);
  bottom: 0;
  right: 0;
  width: 15em;
  background-color: var(--primary-bg-color);
  padding: 1.25em;

  &.hide {
    display: none;
  }
}
