.boardContainer {
  position: relative;
  height: 100%;
  //background: #F5F4F7;
}

.verticalBar {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.attributeBar {
  position: fixed;
  top: var(--title-bar-height, 60px);
  bottom: 0;
  right: 0;
  width: 240px;
  background-color: var(--primary-bg-color);
  padding: 20px;

  &.hide {
    display: none;
  }
}

.statusBar {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #fff;
  height: 48px;
  color: #000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 0.8em;
  padding: 0 12px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.zoomItem {
  width: 100px;
  height: 32px;
  padding: 5px 12px;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 4px;
  box-sizing: border-box;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover {
    background-color: var(--item-common-hover-bg);
  }
}
