.boardContainer {
  position: relative;
  height: 100%;
}

.attributeBar {
  position: fixed;
  top: var(--title-bar-height, 60px);
  bottom: 0;
  right: 0;
  width: 240px;
  background-color: var(--primary-bg-color);
  padding: 20px;

  &.hide {
    display: none;
  }
}