.highlight {
  background-image: paint(marker-highlight);
  --marker-roughness: 0.3;
  --marker-offset: 1.25em;

  &.yellow {
    --marker-color: rgba(255, 212, 0, 0.14);
  }

  &.red {
    --marker-color: rgba(239, 35, 60, 0.14);
  }

  &.blue {
    --marker-color: rgba(162, 210, 255, 0.14);
  }

  &.green {
    --marker-color: rgba(42, 157, 143, 0.14);
  }

  &.purple {
    --marker-color: rgba(94, 84, 142, 0.14);
  }
}
