.editCardContainer {
  position: relative;
  margin: 0 auto;
  max-width: 720px;
  .time {
    margin-bottom: 24px;
    display: flex;
    gap: 10px;
    opacity: .8;
    font-size: .9em;
  }
  .editor {
    width: 100%;
  }
  .addTag {
    margin-top: 16px;
  }
}

@container cardsManagement (max-width: 1080px) {
  .editCardContainer {
    max-width: 70cqi;
  }
}