.highlightSelectContainer {
  display: flex;
  position: absolute;
  background-color: var(--primary-bg-color);
  box-shadow: var(--box-shadow1);
  padding: 10px;
  top: 40px;
  left: 0;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  .item {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    border: 1px solid var(--line-color);
  }
}