.windowControl {
  display: flex;
  gap: 10px;
  align-items: center;
  .item {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    &:hover {
      background-color: var(--common-hover-bg);
      border-radius: 4px;
      cursor: pointer;
    }
    .pin {
      transform: rotate(0deg);
      transition: transform 0.2s;
      &.onTop {
        transform: rotate(-45deg);
      }
    }

  }
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 4px;
  .column {
    &:hover {
      background-color: var(--common-hover-bg);
    }
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    .icon {
      width: 12px;
      height: 12px;
    }
  }
}