.cardsManagement {
  padding: 40px 20px;
  .editor {
    border: 1px solid black;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 200px;
  }
  .cardList {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    .cardItem {
      width: 280px;
      height: 280px;
      border-radius: 20px;
    }
  }
}