.cardsManagement {
  position: relative;
  width: fit-content;
  margin: 0 auto;

  .sidebar {
    position: fixed;
    top: 40px;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #fff;
    z-index: 98;
    overflow-y: auto;
    padding: 20px 0;
  }

  .cardList {
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}