.hoveringToolbar{
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: -10000px;
  left: -10000px;
  transition: opacity 0.75s;
  padding: 4px;
  background-color: #E2E8F0;
  display: flex;
  gap: 4px;
}