.container {
  background: var(--second-sidevar-background);
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    .title {
      cursor: pointer;
    }
    .icon {
      cursor: pointer;
    }
  }
  .divider {
    height: 1px;
    background: var(--line-color);
    margin: 12px 0 0;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: calc(100% - 40px - 15px);
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    border-top: 12px solid transparent;
    border-bottom: 24px solid transparent;;
    .item {
      flex: none;
      cursor: pointer;
      padding: 8px 12px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      border-radius: 8px;
      &:not(.active):hover {
        background: var(--common-hover-bg);
      }
      &.active {
        background: var(--sidebar-active-bg);
      }
    }
  }
}