.settingGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .inputItem {
    display: flex;
    gap: 20px;
    align-items: center;
    .label {
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
