.container {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  .sidebar {
    width: 300px;
    flex-shrink: 0;
    border: 1px solid #eee;
    padding: 40px 20px;
    height: 100%;
    box-sizing: border-box;
  }
  .detail {
    flex: 1;
  }
}