.container {
  .version {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 30px;
    margin-top: 10px;
  }
  .checkUpdate {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 30px;
    line-height: 40px;
    margin-top: 10px;
  }
}