.container {
  width: 100%;
  position: relative;
}

.editor {
  position: absolute;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  padding: 0 20px;
  box-sizing: border-box;
  background: var(--primary-bg-color);
  box-shadow: var(--box-shadow1);
  border-radius: 4px;
  max-height: 360px;
  width: 420px;
  overflow: auto;
}