.verticalGalleryContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 0;
  .item {
    flex-grow: 1;
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;;
    }
  }
}