.itemContainer {
  padding: 20px;
  border: 1px solid var(--line-color);
  border-radius: 8px;
  content-visibility: auto;
  position: relative;

  .time {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    color: gray;
    font-size: 0.75em;
  }

  .content {
    max-height: 300px;
    overflow: hidden;
  }

  .tags {
    margin-top: 20px;
  }

  .actions {
    position: absolute;
    top: 16px;
    right: 10px;
    display: flex;
    gap: 8px;

    .action {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;

      &:hover {
        background: var(--common-hover-bg);
      }
    }
  }
}
