.tabs {
  height: 100%;
  flex: 1;

  :global {
    .ant-tabs {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .ant-tabs-content-holder {
      padding: 0 16px;
      overflow-y: auto;
      flex: 1;
    }

    .ant-tabs-content {
      height: 100%;
    }

    .ant-tabs-tabpane {
      height: 100%;
    }
  }
}
