.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  box-sizing: border-box;
  .settingList {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .syncing {
    animation: rotate 1s linear infinite;
  }

  .checking {
    animation: fadeInout 1s linear infinite;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
      transform: rotate(359deg);
  }
}

@keyframes fadeInout {
  0% {
    opacity: 1;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}
