.editor {
  position: absolute;
  padding: 20px;
  background: var(--primary-bg-color);
  box-shadow: var(--box-shadow1);
  border-radius: 4px;
  max-height: 360px;
  width: 420px;
  overflow: auto;
}