.syncSetting {
  .version {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 30px;
    line-height: 30px;
    margin-top: 12px;
  }
  .upload {
    margin-top: 12px;
    display: flex;
    align-items: center;
    height: 30px;
    line-height: 30px;
    gap: 8px;
  }
  .download {
    margin-top: 12px;
    display: flex;
    align-items: center;
    height: 30px;
    line-height: 30px;
    gap: 8px;
  }
  .settings {
    margin-top: 20px;
  }
}
