.dragHandler {
  position: absolute;
  top: 0;
  left: -1.25em;
  width: 1.25em;
  height: 1.8em;
  user-select: none;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .icon {
    transform: translateY(-2px);
  }
}

&:hover {
  .dragHandler.canDrag {
    opacity: 1;
  }
}
