&.dragging {
  opacity: 0.5;
}
&.drop {
  opacity: 0.5;
  &.before {
    &::before {
      content: "";
      position: absolute;
      top: -0.625em;
      left: 0;
      right: 0;
      height: 0.125em;
      background-color: var(--active-text-color);
    }
  }
  &.after {
    &::after {
      content: "";
      position: absolute;
      bottom: 0.375em;
      left: 0;
      right: 0;
      height: 0.125em;
      background-color: var(--active-text-color);
    }
  }
}
