&.dragging {
  opacity: 0.5;
}
&.drop {
  opacity: 0.5;
  &.before {
    &::before {
      content: '';
      position: absolute;
      top: -10px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: var(--active-text-color);
    }
  }
  &.after {
    &::after {
      content: '';
      position: absolute;
      bottom: 6px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: var(--active-text-color);
    }
  }
}