.selectLanguage {
  font-size: 0.8em;
  opacity: 0.5;
  padding: 4px 8px;
  width: fit-content;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--mono-font);
  &.disable {
    cursor: default;
  }
  &:not(.disable):hover {
    background: var(--item-common-hover-bg);
  }
}

.languageItem {
  display: flex;
  height: 32px;
  padding: 5px 12px;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: var(--mono-font);

  align-items: center;
  &.active {
    background: var(--item-common-hover-bg);
  }
  &:hover {
    background: var(--item-common-hover-bg);
  }
}
