.selectLanguage {
  font-size: 0.8em;
  opacity: 0.5;
  padding: 0.5em;
  width: fit-content;
  border-radius: 0.25em;
  cursor: pointer;
  font-family: var(--mono-font);

  &.disable {
    cursor: default;
  }

  &:not(.disable):hover {
    background: var(--item-common-hover-bg);
  }
}

.languageItem {
  display: flex;
  height: 2em;
  padding: 0.25em 0.5em;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 0.25em;
  box-sizing: border-box;
  font-family: var(--mono-font);

  align-items: center;

  &.active {
    background: var(--item-common-hover-bg);
  }

  &:hover {
    background: var(--item-common-hover-bg);
  }
}
