.container {
  height: 100%;
  overflow: hidden;

  :global {
    .ant-tabs {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .ant-tabs-content-holder {
      overflow-y: auto;
      flex: 1;
    }

    .ant-tabs-content {
      height: 100%;
    }

    .ant-tabs-tabpane {
      height: 100%;
      overflow-y: hidden;
    }
  }
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
