.notesTipContainer {
  position: relative;
  border-radius: 12px;
  background-color: #f4f5f7;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  color: black;
  .strictHeight {
    max-height: 400px;
    overflow-y: auto;
    padding: 24px;
  }
  .title {
    color: #333333;
    text-align: center;
    line-height: 24px;
    user-select: none;
  }
  .textStyleSelect {
    margin-top: 12px;
    padding: 12px 16px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    .selectContainer {
      display: flex;
      align-items: center;
      gap: 12px;
      .styleItem {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid transparent;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .verticalLine {
      width: 1px;
      height: 24px;
      background-color: #f4f5f7;
      margin: 0 16px;
    }
    .colorContainer {
      display: flex;
      align-items: center;
      gap: 12px;
      .colorItem {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid transparent;
        cursor: pointer;
      }
    }
  }
  .noteContainer {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .noteItem {
      position: relative;
      padding: 24px;
      background-color: white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      .editor > [class*="container"]:last-child > p {
        margin-bottom: 0;
      }
      &:hover {
        box-shadow:
          0 2px 4px 0 rgba(0, 0, 0, 0.08),
          0 0 0 2px #f4f5f7;
        .editorIcons {
          display: flex;
        }
      }
      .editorIcons {
        position: absolute;
        top: 6px;
        right: 12px;
        display: none;
        gap: 4px;
        .icon {
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
    }
  }
  .arrow {
    position: absolute;
    z-index: 1;
    filter: drop-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.08));
    width: 0;
    height: 0;
    border: 8px solid transparent;
    &.left {
      left: -16px;
      top: 50%;
      transform: translateY(-50%);
      border-right: 8px solid #f4f5f7;
    }
    &.right {
      right: -16px;
      top: 50%;
      transform: translateY(-50%);
      border-left: 8px solid #f4f5f7;
    }
    &.top {
      top: -16px;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 8px solid #f4f5f7;
    }
    &.bottom {
      bottom: -16px;
      left: 50%;
      transform: translateX(-50%);
      border-top: 8px solid #f4f5f7;
    }
  }
  .icons {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    gap: 12px;
    align-items: center;
    .deleteArea {
      cursor: pointer;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .closeArea {
      cursor: pointer;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
