.container {
  padding: 20px;
  border: 1px solid var(--line-color);
  border-radius: 8px;
  .buttons {
    display: flex;
    gap: 8px;
  }
  .save {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
