html[data-theme='light'] {
  --primary-bg-color: #fff;
  --line-color: #F5F5F5;
  --text-normal: black;
  --code-normal: #18045f;
   --code-bg: rgba(250, 255, 100, .15);
  //--code-bg: transparent;
  --box-shadow1: 0 3px 6px 0 rgba(0, 0, 0, .15);
  --box-shadow2: 0 4px 21px -12px rgba(0, 0, 0, .6);
  --block-panel-active-bg: #e6e6e6;
  --common-hover-bg: rgba(0, 0, 0, .03);
  --table-border-color: #dadde1;
  --table-odd-bg: #e6e6e666;
  --card-bg-color: rgb(255 255 255 / 0.4);
  --bottom-line-bg: #3358d4;
  --tab-active-color: #ecedf1;
  --doc-fill-active: rgba( 20,86,240 ,0.15);
  --doc-fill-text-color: #1456f0;
  --scroller-track-background-color: rgba(0, 0, 0, 0.04);
  --scroller-thumb-background-color: rgba(0, 0, 0, 0.06);
}

