html[data-theme='light'] {
  --primary-bg-color: #f6f6f6;
  --line-color: #E9E9E9;
  --text-normal: black;
  --code-normal: #18045f;
  --code-bg: transparent;
  --box-shadow1: 0 3px 6px 0 rgba(0, 0, 0, .15);
  --box-shadow2: 0 4px 21px -12px rgba(0, 0, 0, .6);
  --block-panel-active-bg: #e6e6e6;
  --common-hover-bg: rgba(0, 0, 0, .03);
  --table-border-color: #dadde1;
  --table-odd-bg: #e6e6e666;
  --card-bg-color: rgb(255 255 255 / 0.4);
  --bottom-line-bg: #3358d4;
  --tab-active-color: #ecedf1;
  --scroller-track-background-color: rgba(0, 0, 0, 0.04);
  --scroller-thumb-background-color: rgba(0, 0, 0, 0.06);
  --normal-card-bg: hsl(168, 8%, 95%);
  --common-hover-bg: hsl(168, 8%, 90%);
  --normal-icon-bg: #e8e8e8;
  --active-bg-color: hsl(168, 80%, 95%);
  --active-text-color: hsl(168, 50%, 30%);
  --active-icon-bg: hsl(168, 60%, 80%);
  --card-line-color: hsl(168, 40%, 80%);
  --bullet-list-item-bg: hsl(168, 10%, 45%);
  --bullet-list-item-shodow: 0 0 0 .3em hsla(168, 90%, 85%, 0.55);
  --selection-color: #D9F0FF;
}

