.item {
  position: relative;
  height: 240px;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s;
  display: flex;
  flex-direction: column;

  &:hover {
    background-color: var(--common-hover-bg);
  }
}
