.popoverContainer {
  max-width: 12.5em;
  max-height: 12.5em;
  overflow: auto;

  .list {
    display: flex;
    flex-wrap: wrap;

    .item {
      width: 1.5em;
      height: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #999;
      border-radius: 0.25em;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
