.popoverContainer {
  max-width: 12.5em;
  max-height: 12.5em;
  overflow: auto;

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    .item {
      width: 2em;
      height: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #aaa;
      border-radius: 0.25em;

      &:hover {
        background-color: #eef0f5;
      }
    }
  }
}
