.documentList {
  padding: 0 16px;
  height: 100vh;
  overflow-y: auto;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  box-sizing: border-box;
  &::-webkit-scrollbar {
      display: none;
  }
}