.itemContainer {
  display: flex;
  align-items: center;
  height: 36px;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0 8px;
  font-size: .9em;
  &.isShort {
    width: 36px;
    height: 36px;
    justify-content: center;
    .label {
      display: none;
    }
  }
  &.active {
    background: var(--sidebar-active-bg);
  }
  &:not(.active):hover {
    background: var(--common-hover-bg);
  }
  .icon {
    display: flex;
    align-items: center;
    fill: currentColor;
  }
  .label {
    margin-left: 8px;
  }
}
