.cardTree {
  background: var(--second-sidevar-background);
  border: 20px solid transparent;
  box-sizing: border-box;
  transition: all 0.3s;
  width: 240px;
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
