.textContainer {
  width: 100%;
  height: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  &.left {
    text-align: left;
    justify-content: flex-start;
  }
  &.right {
    text-align: right;
    justify-content: flex-end;
  }
  &.center {
    text-align: center;
    justify-content: center;
  }
  &.readonly {
    user-select: none;
    pointer-events: none;
  }
}