.statusBar {
  position: absolute;
  bottom: 1.25em;
  right: 1.25em;
  background: #fff;
  height: 3.5em;
  color: #000;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  // font-size: 0.8em;
  padding: 0 0.75em;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 1em;
}

.zoomPopover {
  min-width: 80px;
  padding: 4px;
}

.zoomText {
  min-width: 40px;
  text-align: center;
  cursor: pointer;
}

.zoomItem {
  width: 6.25em;
  height: 2em;
  padding: 0.3125em 0.75em;
  font-size: 0.8em;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 0.25em;
  box-sizing: border-box;
  text-align: center;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover {
    background-color: var(--item-common-hover-bg);
  }
}
