.dropContainer {
  position: relative;
  @import "@/components/Editor/extensions/drop-common.less";
  @import "@/components/Editor/extensions/drag-common.less";

  .listContainer {
    padding: 1em;
    border: 1px solid var(--line-color);
    border-radius: 0.75em;
  }

  .info {
    margin-bottom: 1em;
  }

  .cardList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9.25em, 1fr));
    gap: 1em;
  }

  .articleList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75em, 1fr));
    gap: 1em;
  }
}
