.dropContainer {
  position: relative;
  .container {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
  }
  @import "@/components/Editor/extensions/drop-common.less";
  @import "@/components/Editor/extensions/drag-common.less";
}
