.imageGalleryContainer {
  position: relative;
  .emptySetting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    border-radius: 8px;
    border: 1px dashed #E7E9E8;
    cursor: pointer;
    font-size: 32px;
  }
  .settingButton {
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: -36px;
    background-color: var(--primary-bg-color);
    box-shadow: var(--box-shadow1);
  }
}