.imageGalleryContainer {
  position: relative;
  &.wider {
    width: calc(100% + 160px);
    transform: translateX(-80px);
  }
  .emptySetting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    border-radius: 8px;
    border: 2px dashed #d3d7d4;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--primary-bg-color);
    &:hover {
      background-color: var(--common-hover-bg);
    }
    .uploadTips {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      .icon {
        font-size: 24px;
      }
    }
  }
  .settingButton {
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: -36px;
    background-color: var(--primary-bg-color);
    box-shadow: var(--box-shadow1);
  }
  &:hover .actions {
    opacity: 1;
    color: white;
    display: flex;
  }
  @import "@/components/Editor/extensions/drop-common.less";
  @import "@/components/Editor/extensions/drag-common.less";
  .dragHandler {
    height: 1em;
  }
}

.actions {
  display: none;
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  background-color: rgba(38, 38, 38, 0.6);
  border-radius: 8px;
  transition: opacity 0.3s ease-in-out;
}

.item {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.divider {
  width: 1px;
  height: 18px;
  margin: auto 4px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.1);
}
