.quickTimeRecordContainer {
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  padding: 12px 24px 24px;
  flex-direction: column;
  gap: 10px;
  position: relative;
  min-height: 100vh;
  background-image:
          linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 80%),
          linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 80%);
  .titleBar {
    box-sizing: border-box;
    height: 56px;
    display: flex;
    align-items: center;
    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
    .windowControl {
      margin-left: auto;
    }
  }
  .form {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .content {
      display: flex;
      gap: 10px;
    }
    .cost {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .eventType {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
  .buttons {
    position: fixed;
    right: 24px;
    bottom: 24px;
    margin-left: auto;
  }
}