.cardContainer {
  height: 300px;
  --card-bg: #e1e5ea;
  --text-color: #18151f;
  --gradient-angle: -40deg;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  flex: none;
  border-radius: 12px;
  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
  background-color: var(--card-bg);
  background-image: linear-gradient(
    var(--gradient-angle),
    var(--bg-color2),
    transparent 50%
  );
  &.green {
    --bg-color1: #79dd09;
    --bg-color2: rgba(121, 221, 9, 0.1);
  }
  &.blue {
    --bg-color1: #0076bd;
    --bg-color2: rgba(0, 118, 189, 0.1);
  }
  &.yellow {
    --bg-color1: #bdbb49;
    --bg-color2: rgba(189, 187, 73, 0.1);
  }
  &.red {
    --bg-color1: #bd150b;
    --bg-color2: rgba(189, 21, 11, 0.1);
  }
  &.purple {
    --bg-color1: #7d1abd;
    --bg-color2: rgba(125, 26, 189, 0.1);
  }
  &.dark {
    --card-bg: #18151f;
    --text-color: #fff;
  }
  .imageContainer {
    position: relative;
    width: 100%;
    height: 120px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .operate {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
  .content {
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    gap: 8px;
    .title {
      max-width: 100%;
      display: block;
      font-size: 32px;
      font-weight: bold;
      color: var(--text-normal);
      user-select: none;
      &:hover {
        cursor: pointer;
        color: var(--bg-color1);
      }
    }
    .time {
      display: flex;
      align-items: center;
      gap: 4px;
      color: gray;
      font-size: 14px;
    }
  }
}

.settings {
  display: flex;
  gap: 10px;
  flex-direction: column;
  .settingItem {
    padding: 8px 16px;
    border-radius: 4px;
    &:hover {
      background-color: var(--common-hover-bg);
      cursor: pointer;
    }
  }
}
