.addTagButton {
  margin-bottom: 10px;
  font-size: 12px;
  width: fit-content;
  cursor: pointer;
  height: 31.6px;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.inputTag {
  margin-bottom: 10px;
}
.tags {
  margin-bottom: 6px;
}