.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  --title-bar-height: 48px;
  &.focusMode {
    .sidebar {
      overflow: hidden;
      border: none;
    }
    .list {
      overflow: hidden;
      border: none;
    }
    .contentArea {
      .titleBar {
        overflow: hidden;
        border: none;
      }
      .content {
        height: 100%;
      }
    }
  }
  .sidebar {
    flex: none;
    height: 100vh;
    overflow: hidden;
  }
  .list {
    flex: none;
    height: 100vh;
    overflow: hidden;
    border-right: 1px solid var(--line-color);
  }
  .contentArea {
    height: 100vh;
    box-sizing: border-box;
    .titleBar {
      width: 100%;
      height: var(--title-bar-height);
      box-sizing: border-box;
      border-bottom: 1px solid var(--line-color);
    }
    .content {
      position: relative;
      width: 100%;
      height: calc(100% - var(--title-bar-height));
      box-sizing: border-box;
      overflow: auto;
      display: flex;
      gap: 10px;
    }
  }
}