.singleCardEditorContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  overflow: hidden;
}

.time {
  margin-bottom: 24px;
  display: flex;
  gap: 10px;
  opacity: 0.8;
  font-size: 0.9em;
  flex-shrink: 0;
}

.editorContainer {
  flex: 1;
  overflow: auto;
  border-bottom: 20px solid transparent;
}

.editor {
  padding: 20px 40px;
  margin: 0 auto;
  width: 100%;
  max-width: min(100%, 800px);
  box-sizing: border-box;
}

.addTag {
  margin-top: 8px;
  flex-shrink: 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
}
