.list {
  padding-inline-start: 2.5em;
  margin: 0;
  --list-item-line-color: rgba(55, 53, 47, 0.16);

  li:last-child *:last-of-type([data-slate-node="element"]) {
    margin: 0;
  }

  --bullet-list-item-bg: hsl(168, 10%, 45%);

  &.dark {
    --bullet-list-item-bg: hsl(168, 10%, 95%);
  }

  & > li {
    position: relative;
    list-style-type: none;

    &::before {
      position: absolute;
      content: "";
      width: 0.35em;
      height: 0.35em;
      border-radius: 50%;
      background: var(--bullet-list-item-bg);
      left: -1em;
      top: 0.7em;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform-origin: center;
        transform: scale(1.2);
      }
    }

    &[data-fold="fold"]::before {
      box-shadow: var(--bullet-list-item-shodow);
    }
  }
}

@media print {
  .list {
    & > li {
      list-style: unset;

      &::before {
        display: none;
      }
    }
  }
}
