.footer {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .actions {
    display: flex;
    gap: 8px;
    height: 100%;
    align-items: center;
    font-size: 12px;
    .item {
      width: 28px;
      height: 28px;
      color: var(--text-normal);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 12px;
      border-radius: 50%;
      background-color: var(--footer-item-bg);
      &:hover {
        background-color: var(--footer-item-hover-bg);
      }
    }
  }
  .detail {
    color: #1a66ff;
    font-size: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }
}