.item {
  min-width: 280px;
  max-width: 380px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.06);
  padding: 15px;
  border-radius: 12px;
  box-sizing: border-box;
  .content {
    margin-top: 16px;
  }
}