.timestamp {
  cursor: pointer;
  color: #1890ff;
  text-decoration: underline;
  user-select: none;

  &:hover {
    color: #40a9ff;
  }

  &.dark {
    color: #177ddc;

    &:hover {
      color: #3c9ae8;
    }
  }
}
