.list {
  padding: 0 16px;
  height: 100%;
  // border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 12px;
    flex-shrink: 0;

    .title {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 12px;

      .icon {
        cursor: pointer;
      }
    }
  }

  .divider {
    height: 1px;
    background: var(--line-color);
    padding: 0 12px;
    margin: 0 0 12px 0;
  }

  .contentArea {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
