.sidebar {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  &.isShort {
    .header {
      opacity: 0;
      position: absolute;
      pointer-events: none;
    }
    .list {
      &.isMac {
        margin-top: 24px;
      }
    }
  }
  .header {
    white-space: nowrap;
    transition: opacity 0.2s;
    opacity: 1;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
    padding: 0 12px 0 20px;
    height: 48px;
    line-height: 32px;
    &.indent {
      margin-left: 72px;
    }
  }
  .list {
    padding: 6px 12px 12px 12px;
    flex: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    &::-webkit-scrollbar {
      display: none;
    }
    .search {
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px 0 12px;
      margin-bottom: 8px;
      border-radius: 8px;
      transition: color 0.2s;
      --search-bg-color: #eef0f5;
      --search-color: rgba(60, 60, 67, 0.78);
      --kbd-border-color: #e2e2e3;
      --search-border-color: transparent;
      background-color: var(--search-bg-color);
      color: var(--search-color);
      border: 1px solid var(--search-border-color);
      span {
        display: inline-block;
        margin-top: 2px;
        padding: 0 16px 0 0;
        font-size: 13px;
      }
      kbd {
        font-size: 0.8em;
        font-family: var(--mono-font);
        display: block;
        border-radius: 4px;
        padding: 0 6px;
        width: auto;
        height: 22px;
        line-height: 22px;
      }
      &:hover {
        cursor: pointer;
        --search-border-color: #3451b2;
        --search-color: rgba(60, 60, 67);
      }
      &.dark {
        --search-bg-color: #161618;
        --search-color: rgba(235, 235, 245, 0.6);
        --kbd-border-color: rgb(46, 46, 50);
        &:hover {
          --search-border-color: #a8b1ff;
          --search-color: rgba(255, 255, 245, 0.86);
        }
      }
    }
  }
  .setting {
    padding: 12px;
    margin-top: auto;
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
  }
}
