.drawer {
  font-family: var(--font);
  .linkTitle {
    margin: 20px 0;
    font-weight: bold;
    font-size: 16px;
  }
  .footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}