.modal {
  font-family: var(--font);
  :global(.ant-modal-body) {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .linkTitle {
    margin: 10px 0;
    font-weight: bold;
    font-size: 16px;
  }
}