.loadingContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  min-height: 160px;
  width: 100%;
}

.commandContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100;

  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(17, 25, 39, 0.8);

    &.dark {
      background: rgba(17, 25, 39, 0.8);
    }
  }

  .panel {
    position: absolute;
    width: 640px;
    max-height: 80vh;
    max-width: 80vw;
    top: 15vh; /* Set a fixed distance from the top */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    min-height: 200px; /* Ensure minimum height */

    &.dark {
      background-color: rgba(49, 49, 52, 1);
    }

    box-shadow:
      rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    .searchHeader {
      display: flex;
      width: 100%;
      height: 56px;
      padding: 16px 0;
      box-sizing: border-box;
      align-items: center;
      border-bottom: 1px solid var(--line-color);

      .searchIcon {
        flex: none;
        width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .search {
        flex: 1;
      }
    }

    .resultContainer {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      max-height: calc(80vh - 56px);

      .resultsWrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-height: 160px;
        height: 100%;
      }

      .list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        overflow-y: auto;
        flex: 1;
      }
    }
  }
}
