.articleListContainer {
  .list {
    padding: 0 16px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}