.icon {
  -webkit-app-region: no-drag;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  &:not(.active):hover {
    background-color: var(--common-hover-bg);
  }
  &.active {
    background-color: var(--common-hover-bg);
  }
}
