.mermaid {
  margin-top: 10px;
  cursor: pointer;
  .empty {
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    cursor: pointer;
    user-select: none;
  }
  svg {
    font-family: var(--font, '"Merroweather", "楷体", "楷体-简"') !important;
  }
}
