.container {
  background-color: #f9f9fa;
  border-radius: 8px;
  border: 1px solid rgba(60, 60, 67, 0.29);
  padding: var(--block-distance) 16px;
  position: relative;

  &.dark {
    background-color: #1c1c1e;
    border: 1px solid rgba(255, 255, 255, 0.12);
  }

  &:has(.show) {
    padding-bottom: 0;
    .title {
      margin-bottom: calc(var(--block-distance) / 2);
    }
  }

  transition: padding-bottom 0.2s ease-in-out;

  .title {
    display: flex;
    gap: 5px;
    transition: margin-bottom 0.2s ease-in-out;
    .arrow {
      cursor: pointer;
      transition: transform 0.2s linear;
      &.show {
        transform: rotate(90deg);
      }
      &.hide {
        transform: rotate(0deg);
      }
    }
  }
  .content {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    & > div {
      min-height: 0;
    }
    &.show {
      box-sizing: border-box;
      grid-template-rows: 1fr;
    }
  }
  @import '@/components/Editor/extensions/drop-common.less';
}

@import '@/components/Editor/extensions/drag-common.less';
