.list {
  display: flex;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  //border: 1px solid #e1e4e8;
  border-radius: 6px;
  // 隐藏滚动条
  &::-webkit-scrollbar {
      display: none;
  }
}