.container {
  position: relative;

  .divideLine {
    width: 80%;
    height: 0.125em;
    background-color: var(--line-color, #e8e8e8);
    margin: 3em auto;
  }

  @import "@/components/Editor/extensions/drop-common.less";
  @import "@/components/Editor/extensions/drag-common.less";

  .dragHandler {
    top: -0.75em;
  }
}
