.item {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  .content {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &:hover {
    background: #f6f8fa;
  }
  .bottomLine {
    height: 1px;
    background: #eaecef;
  }
}