.listContainer {
  .header {
    padding: 0 16px;
    width: 100%;
    height: var(--title-bar-height);
    box-sizing: border-box;
    border-bottom: 1px solid var(--line-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .select {
      margin-right: 10px;
    }
  }
  .list {
    padding: 0 16px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    height: calc(100vh - var(--title-bar-height));
    box-sizing: border-box;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 4px;
  .categoryItem {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 8px;
    &:hover:not(.disable) {
      background-color: var(--common-hover-bg);
    }
    &.disable {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}