.answerContent {
  box-sizing: border-box;
  max-height: 200px;
  overflow-y: hidden;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.moreIcon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
