.card {
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  &.selected {
    background-color: var(--active-bg-color);
    color: var(--active-text-color);
  }
  &:not(.selected):hover {
    background-color: var(--common-hover-bg);
    cursor: pointer;
  }
  .title {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .content {
    line-height: 2;
    margin-top: 10px;
    margin-bottom: 0;
    content-visibility: auto;
    :global(code) {
      color: var(--code-normal, #FBDE2D);
      background-color: var(--code-bg, transparent);
      padding: 4px;
      font-size: .9em;
      font-family: var(--mono-font, 'monospace');
      border: none;
    }
  }
}