.latestUpdate {
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  .content {
    flex: 1;
    overflow: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .loadingContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
    }

    .emptyContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      color: var(--ant-color-text-secondary);
    }

    .itemListItem {
      cursor: pointer;
      padding: 8px 12px;
      border-radius: 4px;
    }
  }
}

.editor {
  width: 300px;
  height: 300px;
  overflow: auto;
}
