.blockMath {
  cursor: pointer;

  :global(div mjx-container[jax="CHTML"][display="true"]) {
    margin: 4px auto;
  }
  .empty {
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    cursor: pointer;
  }
}