.timeRecordContainer {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .selectTime {
    height: 60px;
    flex: none;
  }
  .list {
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 0 16px;
    border-bottom: 20px solid transparent;
    min-height: 0; /* 确保flex子项可以正确收缩 */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
