.cardContentContainer {
  width: 400px;
  padding: 8px 12px;
  max-height: 400px;
  overflow-y: auto;
}

.notFound {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
