.cardContentContainer {
  border: 1.5em solid transparent;
  overflow-y: auto;
  max-height: 18.75em;
  max-width: 25em;

  &::-webkit-scrollbar {
    display: none;
  }
}

.notFound {
  color: red;
}
