.gridSettingsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;

  // &:hover {
  //   background-color: var(--item-common-hover-bg, rgba(0, 0, 0, 0.05));
  // }
}

.gridSettingsContent {
  width: 180px;
}
