.footer {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .actions {
    display: flex;
    gap: 8px;
    height: 100%;
    align-items: center;
    font-size: 12px;
    .item {
      width: 28px;
      height: 28px;
      color: rgba(0,0,0,.85);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 12px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.04);
      &:hover {
        background-color: rgba(26, 102, 255, 0.1)
      }
    }
  }
  .detail {
    color: #1a66ff;
    font-size: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}