.container {
  display: flex;
  flex-direction: column;
  height: 700px;
  overflow: hidden;
}

.searchHeader {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid var(--line-color);
}

.searchIcon {
  margin-right: 10px;
  font-size: 16px;
}

.search {
  flex: 1;
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
}

.list {
  margin-top: 20px;
  border: 20px solid transparent;
  padding: 0 20px;
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.searching {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 24px;
}

.itemContainer {
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid var(--line-color);
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 8px;
}

.content {
  font-size: 14px;
  overflow: hidden;
  max-height: 300px;
}
