.link {
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dashed gray;
  color: gray;
  &:hover {
    color: gray;
  }

  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.1em;
    margin-left: 0.25em;
  }
}

.editContainer {
  padding: 0.75em;
  width: 18.75em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  .inputArea {
    display: flex;
    align-items: center;
    gap: 0.75em;

    .label {
      flex: none;
    }

    .input {
      flex: auto;
    }
  }

  .btnGroups {
    display: flex;
    gap: 0.75em;
    justify-content: flex-end;
  }
}

.unEditable {
  display: flex;
  height: 2.5em;
  align-items: center;
  max-width: 20em;
  gap: 0.75em;
  padding: 0 0.5em;
  border-radius: 0.5em;
  color: gray;

  .text {
    flex: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .icon {
    flex: none;
    cursor: pointer;
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}

.active {
  opacity: 0.5;
}
