.link {
  color: #1890ff;
  text-decoration: none;
  cursor: pointer;
  border-bottom: #1a66ff;
}

.editContainer {
  width: 400px;
  display: flex;
  gap: 10px;
  .input {
    flex: auto;
  }
}

.active {
  opacity: 0.5;
}
