.inlineHtml {
  display: inline-block;
  vertical-align: baseline;
}

.previewTriggerContainer {
  display: inline-block;
  cursor: pointer;
  padding: 1px 3px;
  border-radius: 3px;
}

.placeholder {
  color: #aaa;
  font-style: italic;
  user-select: none;
}
