.container {
  background: #fff;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 3.5em;
  padding: 0.75em 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;

  &.dark {
    background: #000;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    .item {
      color: #fff;
      &:not(.active):hover {
        color: rgba(102, 152, 255);
        background: rgba(255, 255, 255, 0.1);
      }
      &.active {
        color: rgba(102, 152, 255);
      }
    }
  }

  .item {
    color: #999;
    fill: currentColor;
    cursor: pointer;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;

    &:not(.active):hover {
      color: rgb(102, 152, 255);
      background: rgba(102, 152, 255, 0.1);
    }

    &.active {
      color: rgb(102, 152, 255);
      background: rgba(102, 152, 255, 0.1);
    }
  }
}
