@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  --font: 'Merriweather Sans', 'Source Han Sans SC VF', '楷体', '楷体-简';
  --mono-font: 'JetBrains Mono', '楷体', '楷体-简';
  font-family: var(--font);
  font-weight: 500;
  padding: 0;
  margin: 0;
}

code {
  font-family: var(--mono-font);
}

p {
  line-height: 1.8;
  margin-top: 0;
}

[contenteditable] {
  outline-style: none;
}

.CodeMirror.cm-s-one-light {
  background: #fafafa;
  line-height: 1.8;
  color: #383a42;
  .cm-string,
  .cm-string-2 {
    color: #50a14f;
  }
  .cm-comment {
    color: #a0a1a7;
  }
  .cm-keyword {
      color: #a626a4;
  }
  .cm-variable {
      color: #e06c75;
  }
  .cm-variable2 {
      color: #e45649;
  }
  .cm-variable-3 {
    color: #e06c75;
  }
  .cm-number {
    color: #986801;
  }
  .cm-property {
    color: #4078f2;
  }
  .cm-definition {
    color: #4078f2;
  }
  .cm-meta {
    color: #383a42;
  }
  .cm-operator {
    color: #0184bc;
  }
  .cm-attribute {
    color: #d19a66;
  }
  .cm-tag {
    color: #e45649;
  }
}

