@import "./themes/dark.less";
@import "./themes/light.less";

html,
body {
  overscroll-behavior: none;
}

body {
  --font: "Merriweather", "新宋体", "宋体", "楷体-简";
  --mono-font: "JetBrains Mono", "楷体", "楷体-简";
  --font-size: 16px;
  --block-distance: 20px;
  --sidebar-bg: var(--primary-bg-color);
  --right-sidebar-bg: var(--primary-bg-color);
  --search-tips-bg: var(--primary-bg-color);
  --card-item-bg: var(--primary-bg-color);
  --detail-bg-color: var(--primary-bg-color);
  --header-bg-color: var(--primary-bg-color);
  --block-panel-bg: var(--primary-bg-color);
  font-family: var(--font);
  color: var(--text-normal);
  font-size: var(--font-size);
  padding: 0;
  margin: 0;
}

::selection {
  background: var(--selection-color);
}

pre,
code {
  font-family: var(--mono-font);
}

p {
  line-height: 1.8;
  margin-top: 0;
}

[contenteditable] {
  outline-style: none;
}

:root[data-theme="dark"] img {
  filter: brightness(0.75);
}

.CodeMirror.cm-s-one-light {
  background: #fafafa;
  line-height: 1.8;
  color: #383a42;

  .cm-string,
  .cm-string-2 {
    color: #50a14f;
  }

  .cm-comment {
    color: #a0a1a7;
  }

  .cm-keyword {
    color: #a626a4;
  }

  .cm-variable {
    color: #e06c75;
  }

  .cm-variable2 {
    color: #e45649;
  }

  .cm-variable-3 {
    color: #e06c75;
  }

  .cm-number {
    color: #986801;
  }

  .cm-property {
    color: #4078f2;
  }

  .cm-definition {
    color: #4078f2;
  }

  .cm-meta {
    color: #383a42;
  }

  .cm-operator {
    color: #0184bc;
  }

  .cm-attribute {
    color: #d19a66;
  }

  .cm-tag {
    color: #e45649;
  }
}

&::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

&::-webkit-scrollbar-track {
  border-radius: 4px;
  background: var(--scroller-track-background-color);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

&::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: var(--scroller-thumb-background-color);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

[class*="ant-"] {
  font-family: var(--font) !important;
}

.command-palette {
  z-index: 9999;
}

.clay {
  background: var(--clay-background, rgba(0, 0, 0, 0.005));
  border-radius: var(--clay-border-radius, 32px);
  box-shadow:
    var(--clay-shadow-outset, 8px 8px 16px 0 rgba(0, 0, 0, 0.25)),
    inset var(--clay-shadow-inset-primary, -8px -8px 16px 0 rgba(0, 0, 0, 0.25)),
    inset
      var(--clay-shadow-inset-secondary, 8px 8px 16px 0 hsla(0, 0%, 100%, 0.2));
}

#root {
  background: var(--primary-bg-color);
}
