body {
  --font: 'Merriweather', '楷体';
  --mono-font: 'JetBrains Mono', '楷体';
  font-family: var(--font);
  padding: 0;
  margin: 0;
}

code {
  font-family: var(--mono-font);
}

p {
  line-height: 1.8;
}

[contenteditable] {
  outline-style: none;
}

.cm-string, .cm-string-2 {
  color: #61CE3C;
}

.cm-comment {
  color: #AEAEAE;
}

.cm-variable {
  color: #FF6400;
}

.cm-variable-2 {
  color: #FF6400;
}

.cm-variable-3 {
  color: #FF6400;
}

.cm-number {
  color: #D8FA3C;
}

.cm-keyword {
  color: #FBDE2D;
}

.cm-property {
  color: #fff;
}

.cm-def {
  color: #8DA6CE;
}

.cm-meta {
  color: #D8FA3C;
}

.cm-operator {
  color: #fff;
}

.am-attribute {
  color: #8DA6CE;
}

.cm-tag {
  color: #8DA6CE;
}

