.itemContainer {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  position: relative;
  user-select: none;
  background-color: var(--normal-card-bg);
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  content-visibility: auto;

  &:not(.active):hover {
    background-color: var(--common-hover-bg);
  }

  &.active {
    border: 2px solid var(--active-text-color);
    background-color: var(--active-bg-color);
    .moreIcon {
      background-color: var(--active-icon-bg);
    }
    .content {
      opacity: 1;
    }
    .time {
      color: var(--active-text-color);
    }
  }

  .content {
    opacity: .75;
    :global(.ant-typography) {
      margin-bottom: 0;
    }
  }

  .time {
    margin-top: 10px;
    color: #747474;
  }
}