.cardsManagement {
  position: relative;
  .header {
    padding: 0 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 60px;
    background-color: var(--header-bg-color);
    position: sticky;
    top: 0;
    z-index: 100;
    box-sizing: border-box;
    .count {
      white-space: nowrap;
      width: fit-content;
    }
    &::before {
      position: absolute;
      bottom: 0;
      width: calc(100% - 80px);
      height: 1px;
      content: '';
      background-color: var(--line-color);
      margin: 0 auto;
    }
    .input {
      margin-left: auto;
      position: relative;
    }
    .searchTips {
      position: absolute;
      top: calc(100% + 10px);
      width: 100%;
      left: 0;
      background-color: var(--search-tips-bg, #fff);
      border-radius: 8px;
      box-shadow: var(--box-shadow1);
      padding: 20px;
      box-sizing: border-box;
      .searchHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        .title {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
  .cardList {
    padding: 20px 40px;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    .loader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}

.cardsContainer {
  display: flex;
  height: calc(100vh - var(--title-bar-height));
  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    border-right: 1px solid var(--line-color);
    .header {
      display: flex;
      gap: 10px;
      height: 36px;
      align-items: center;
      .input {
        position: relative;
        z-index: 1;
      }
      .create {
        flex-shrink: 0;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: #17171a;
      }
      .searchTips {
        position: absolute;
        top: calc(100% + 10px);
        width: 100%;
        left: 0;
        background-color: var(--search-tips-bg, #fff);
        border-radius: 8px;
        box-shadow: var(--box-shadow1);
        padding: 20px;
        box-sizing: border-box;
        .searchHeader {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 16px;
          .title {
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }
    .cardList {
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-y: auto;
    }
  }
  .content {
    height: 100%;
    overflow-y: auto;
    flex: 1;
  }
}