.cardsContainer {
  position: relative;
  height: calc(100vh - var(--title-bar-height));
  width: 100%;
  display: flex;
  .sidebar {
    height: 100%;
    flex: none;
    box-sizing: border-box;
    overflow: hidden;
  }
  .content {
    flex: auto;
    height: 100%;
    .cardsPanel {
      height: 100%;
      width: 100%;
      display: flex;
      gap: 10px;
    }
  }
}