.cardsManagement {
  position: relative;

  .header {
    padding: 0 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 60px;
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
    z-index: 100;
    box-sizing: border-box;
    &::before {
      position: absolute;
      bottom: 0;
      height: 2px;
      width: calc(100% - 80px);
      content: '';
      background-color: #eee;
      margin: 0 auto;
    }
    .input {
      margin-left: auto;
    }
  }

  .cardList {
    padding: 20px 40px;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
}