.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 540px;
  overflow: auto;
  padding: 8px;
  .title {
    padding: 4px 0;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #ddd;
  }
  .item {
    box-sizing: border-box;
    border-radius: 8px;
    padding: 4px 8px;
    height: 60px;
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
      background: var(--common-hover-bg);
    }
  }
}
