.cardDetail {
  position: relative;
  .editorContainer {
    padding: 40px;
    max-width: clamp(400px, 60%, 600px);
    margin: 0 auto;
    .tags {
      margin-top: 20px;
    }
    .editor {

    }
  }
}