.cardDetail {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 40px;
    gap: 10px;
  }
  .editorContainer {
    overflow-y: auto;
    height: calc(100% - 60px);
    padding: 40px;
    min-width: 600px;
    max-width: 800px;
    margin: 0 auto;
    .tags {
      margin-top: 20px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}