.header {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
  padding: 0 40px;
  background: var(--header-bg-color, '#fff');
  &::before {
    position: absolute;
    bottom: 0;
    height: 1px;
    width: calc(100% - 80px);
    content: '';
    background-color: var(--line-color);
    margin: 0 auto;
  }
  .back {
    cursor: pointer;
  }
  .actions {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    .item {
      cursor: pointer;
      display: flex;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      padding: 6px;
      box-sizing: border-box;
      background-color: var(--footer-item-bg);
      &:hover {
        background-color: var(--footer-item-hover-bg);
      }
    }
  }
}