.editDocContainer {
  height: 100%;
  width: 100%;
  position: relative;
  .editDoc {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    border: 20px solid transparent;
    display: flex;
    container-name: editDoc;
    container-type: inline-size;
    .editorContainer {
      flex: auto;
      position: relative;
      margin: 0 auto;
      max-width: 880px;
      .title {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--line-color);
      }
      .time {
        margin-bottom: 24px;
        display: flex;
        gap: 10px;
        opacity: .8;
        font-size: .9em;
      }
    }
    .outline {
      width: 300px;
      max-width: 300px;
      box-sizing: border-box;
      position: sticky;
      flex: none;
      border: 20px solid transparent;
      top: 20px;
      height: calc(100% - 20px);
      overflow: auto;
      transition: max-width .3s ease-in-out;
      &.hide {
        max-width: 0;
        overflow: hidden;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .statusBar {
    position: absolute;
    bottom: 10px;
    right: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    opacity: .8;
    .item {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .icon {
        font-size: 14px;
        width: 14px;
        height: 14px;
      }
    }
  }
}

@container editDoc (max-width: 1280px) {
  .editDocContainer {
    .editDoc {
      .editorContainer {
        max-width: 60cqi;
      }
      .outline {
        max-width: 30cqi;
      }
    }
  }
}

@container editDoc (max-width: 720px) {
  .editDocContainer {
    .editDoc {
      .editorContainer {
        max-width: 80cqi;
      }
      .outline {
        max-width: 0;
        display: none;
      }
    }
  }
}
