.container {
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  .item {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    .checkIcon {
      left: 50%;
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 12px;
    }
  }
}
