.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.strikethrough {
  text-decoration: line-through;
}
.code {
  color: #18045f;
  background-color: rgba(250, 255, 100, 0.153);
  padding: 4px 6px;
  font-size: .9em;
  font-family: var(--mono-font, 'monospace');
}
.padding {
  padding-left: 0.1px;
}