.titleBar {
  box-sizing: border-box;
  padding: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  &.sidebarHide {
    margin-left: 64px;
  }
  .windowControl {
    margin-left: auto;
  }
  .item {
    -webkit-app-region: no-drag;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    &:hover {
      background-color: var(--common-hover-bg);
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

.quitFocus {
  position: fixed;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: -100%;
  transition: top 0.3s ease-in-out;
  -webkit-app-region: no-drag;
  .quitIcon {
    opacity: .7;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: invert(1);
  }
  &.show {
    top: 60px;
  }
}
