.actions {
  background-color: rgba(38, 38, 38, 0.6);
  border-radius: 8px;
  .item {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .divider {
    width: 1px;
    height: 18px;
    margin: auto 4px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.1);
  }
}


