.settingGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .settingTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #1a66ff;
  }
  .inputItem {
    display: flex;
    gap: 20px;
    align-items: center;
    .label {
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}