.list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  .item {
    position: relative;
    padding: 40px;
    cursor: pointer;
    background-color: var(--card-item-bg);
    box-shadow: var(--box-shadow1);
    border-radius: 8px;
    &.hover:hover {
      background-color: var(--card-item-hover-bg);
    }
    .tags {
      margin-bottom: 10px;
    }
    .closeIcon {
      position: absolute;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      top: 10px;
      right: 10px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.04);
      &:hover {
        background-color: rgba(26, 102, 255, 0.2)
      }
    }
  }
  .divider {
    margin: 20px;
    height: 1px;
    background-color: var(--line-color);
  }
}