.rightSidebar {
  box-sizing: border-box;
  flex: none;
  height: 100%;
  .wrapContainer {
    height: 100%;
    box-sizing: border-box;
    padding: 24px;
    .innerContainer {
      box-sizing: border-box;
      padding: 16px;
      height: 100%;
      border-radius: 8px;
      background: #fff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
      &.dark {
        background: #29292f;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
      }
      display: flex;
      flex-direction: column;
      .header {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-content: center;
        .title {
          font-weight: bold;
        }
        .operations {
          display: flex;
          align-items: center;
          gap: 12px;
          flex-wrap: wrap;
        }
      }
      .messages {
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        padding: 12px 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        flex: 1;
        overflow-y: auto;
        box-sizing: border-box;
        .message {
          background: #f5f6f9;
          border-radius: 12px;
          &.dark {
            background: #323233;
          }
          p:last-child {
            margin-bottom: 0;
          }
        }
      }
      .input {
        margin-bottom: 12px;
        display: flex;
        flex: none;
        padding: 12px 24px;
        border-radius: 24px;
        box-sizing: border-box;
        border: 1px solid var(--line-color);
        min-height: 36px;
        align-items: center;
        .inputContent {
          flex: 1;
        }
        .btn {
          flex: none;
          margin-left: 12px;
        }
      }
    }
  }
}

.markdown {
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  font-family: var(--font);
  font-size: var(--font-size);
  code {
    font-family: var(--mono-font) !important;
    font-size: .8em !important;
    :global(.token) {
      font-style: normal !important;
    }
  }
  :not(pre) code {
    color: var(--code-normal);
  }
}
