.header {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 8px;
  &.active {
    background-color: var(--active-bg-color);
    color: var(--active-text-color);
    .arrow {
      &:hover {
        background-color: var(--active-icon-bg);
      }
    }
  }
  &:not(.active):hover {
    background-color: var(--common-hover-bg);
  }
  .title {
    user-select: none;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 40px;
    cursor: pointer;
    width: 80%;
    .text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 40px;
    }
    .count {
      font-size: .8em;
      line-height: 40px;
    }
  }
  .arrow {
    display: flex;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: none;
    &:hover {
      background-color: var(--normal-icon-bg);
    }
    &.open {
      transform: rotate(90deg);
    }
  }
}